<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.springcourse"/>

</beans>

        <!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

        <!--    <bean id="musicBean"-->
        <!--          class="ru.springcourse.ClassicalMusic"-->
        <!--          init-method="doMyInit"-->
        <!--          destroy-method="doMyDestroy"-->
        <!--          factory-method="getClassicalMusic">-->
        <!--    </bean>-->


        <!--    <bean id="musicPlayer"-->
        <!--          class="ru.springcourse.MusicPlayer"-->
        <!--          scope="prototype">-->
        <!--        <property name="music" ref="musicBean"/>-->

        <!--        <property name="name" value="${musicPlayer.name}"/>-->
        <!--        <property name="volume" value="${musicPlayer.volume}"/>-->
        <!--    </bean>-->

        <!-- <bean id="musicBeanRock"
               class="ru.springcourse.RockMusic">
         </bean>
         <bean id="musicBeanRap"
               class="ru.springcourse.RapMusic">
         </bean>
         <bean id="musicBeanClassical"
               class="ru.springcourse.ClassicalMusic">
         </bean> -->


        <!-- использование setter-a бина с помощью ссылки на другой бин
        здесь name="music" - это setter setMusic();
          <property name="music" ref="musicBean"/> -->

        <!-- использование setter-a бина с помощью конкретного значения
          <property name="name" value="Some name"/>
          <property name="volume" value="50"/>
          -->

        <!-- использование конфигруационного файла musicPlayer.properties для
        присвоения значений -->


        <!-- создание списка композиций (выше сделаны их бины) и с помощью сеттера и ссылок
         получение значений
        <property name="musicList">
            <list>
                <ref bean="musicBeanRock"/>
                <ref bean="musicBeanRap"/>
                <ref bean="musicBeanClassical"/>
            </list>
        </property>-->